name: Release Helm Charts

permissions:
  contents: write
  packages: write
  id-token: write

on:
  push:
    branches:
      - main
    paths:
      - 'charts/**'
    tags:
      - 'v*'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Helm
        uses: azure/setup-helm@v4
        with:
          version: latest

      - name: Package Chart
        run: helm package charts/proxyt

      - name: Get Chart Version
        id: chart_version
        run: |
          VERSION=$(helm show chart charts/proxyt | grep '^version:' | awk '{print $2}')
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Upload to Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name == 'main' && format('chart-v{0}', steps.chart_version.outputs.version) || github.ref_name }}
          files: proxyt-*.tgz
          fail_on_unmatched_files: true
          body: |
            Helm Chart for ProxyT version ${{ steps.chart_version.outputs.version }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
