name: Release Helm Charts

permissions:
  contents: write
  packages: write
  id-token: write

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Helm
        uses: azure/setup-helm@v4
        with:
          version: latest

      - name: Package and Release Chart
        run: |
          helm package charts/proxyt
          gh release upload ${{ github.ref_name }} proxyt-*.tgz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
