name: Release Helm Charts

permissions:
  contents: write
  packages: write
  id-token: write

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Helm
        uses: azure/setup-helm@v4
        with:
          version: latest

      - name: Package Chart
        run: helm package charts/proxyt

      - name: Upload to Release
        uses: softprops/action-gh-release@v2
        with:
          files: proxyt-*.tgz
          fail_on_unmatched_files: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
